.cate-item{
    display:flex;
    flex-direction:column;
    list-style-type:none;
    background-color:#ffffff;
    box-shadow:2px 2px 4px #8385e7;
    padding:3px 5px;
    margin:9px;
    cursor:pointer;
    border-radius:10px;
    height: 100px;
    width:170px;
    
}

.category{
    font-size:9px;
    font-family:roboto;
    color:#6c6767;
    margin-bottom:0px;
    font-weight:bold;
}
.event{
    font-size:6px;
    font-family:roboto;
    color:#aca3a3;
    align-self:flex-start;
}